# Main codeowners
* @hashicorp/tf-eco-hybrid-cloud

# release configuration
/.release/                      @hashicorp/github-es-release-engineering
/.github/workflows/build.yml    @hashicorp/github-es-release-engineering
