# Main codeowners
* @hashicorp/terraform-ecosystem-kubernetes

# release configuration
/.release/                      @hashicorp/release-engineering
/.github/workflows/build.yml    @hashicorp/release-engineering
