# Main codeowners
* @hashicorp/team-ipg-product-integrations

# Release configuration
/.release/                      @hashicorp/team-ipg-product-integrations
/.github/workflows/build.yml    @hashicorp/team-ipg-product-integrations
