# permissions for end users to view agentpools.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: agentpool-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: hcp-terraform-operator
    app.kubernetes.io/part-of: hcp-terraform-operator
    app.kubernetes.io/managed-by: kustomize
  name: agentpool-viewer-role
rules:
- apiGroups:
  - app.terraform.io
  resources:
  - agentpools
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - app.terraform.io
  resources:
  - agentpools/status
  verbs:
  - get
