# permissions for end users to edit agentpools.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: agentpool-editor-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: hcp-terraform-operator
    app.kubernetes.io/part-of: hcp-terraform-operator
  name: agentpool-editor-role
rules:
- apiGroups:
  - app.terraform.io
  resources:
  - agentpools
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - app.terraform.io
  resources:
  - agentpools/status
  verbs:
  - get
