# permissions for end users to view projects.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: project-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: hcp-terraform-operator
    app.kubernetes.io/part-of: hcp-terraform-operator
  name: project-viewer-role
rules:
- apiGroups:
  - app.terraform.io
  resources:
  - projects
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - app.terraform.io
  resources:
  - projects/status
  verbs:
  - get
