{{- if .Values.customCAcertificates -}}
# Copyright IBM Corp. 2022, 2025
# SPDX-License-Identifier: MPL-2.0

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-ca-certificates
  namespace: {{ .Release.Namespace }}
binaryData:
  ca-certificates: {{ .Values.customCAcertificates }}
{{- end }}
