{{- if .Values.rbac.create -}}
# Copyright IBM Corp. 2022, 2025
# SPDX-License-Identifier: MPL-2.0

apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ .Release.Name }}-leader-election-rolebinding
  namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ .Release.Name }}-leader-election-role
subjects:
- kind: ServiceAccount
  name: {{ include "hcp-terraform-operator.serviceAccountName" . }}
  namespace: {{ .Release.Namespace }}
{{- end -}}
