# Copyright (c) HashiCorp, Inc.
# SPDX-License-Identifier: MPL-2.0

apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "terraform-cloud-operator.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "terraform-cloud-operator.labels" . | nindent 4 }}
    control-plane: {{ .Release.Name }}-controller-manager
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "terraform-cloud-operator.selectorLabels" . | nindent 6 }}
      control-plane: {{ .Release.Name }}-controller-manager
  template:
    metadata:
      labels:
        {{- include "terraform-cloud-operator.selectorLabels" . | nindent 8 }}
        control-plane: {{ .Release.Name }}-controller-manager
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: manager
          image: {{ .Values.operator.image.repository }}:{{ .Values.operator.image.tag | default .Chart.AppVersion }}
          imagePullPolicy: {{ .Values.operator.image.pullPolicy }}
          args:
          - --sync-period={{ .Values.operator.syncPeriod }}
          - --agent-pool-workers={{ .Values.controllers.agentPool.workers }}
          - --module-workers={{ .Values.controllers.module.workers }}
          - --project-workers={{ .Values.controllers.project.workers }}
          - --workspace-workers={{ .Values.controllers.workspace.workers }}
          - --workspace-sync-period={{ .Values.controllers.workspace.syncPeriod }}
          {{- range .Values.operator.watchedNamespaces }}
          - --namespace={{ . }}
          {{- end }}
          {{- $envVars := dict }}
          {{- if .Values.operator.tfeAddress }}
            {{- $_ := set $envVars "TFE_ADDRESS" .Values.operator.tfeAddress }}
          {{- end }}
          {{- if .Values.operator.skipTLSVerify }}
            {{- $_ := set $envVars "TFC_TLS_SKIP_VERIFY" .Values.operator.skipTLSVerify }}
          {{- end }}
          {{- if gt (len (keys $envVars)) 0 }}
          env:
            {{- range $ek, $ev := $envVars }}
            - name: {{ $ek }}
              value: "{{ $ev -}}"
            {{ end }}
          {{- end }}
          command:
          - /manager
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.operator.resources | nindent 12 }}
          securityContext:
            allowPrivilegeEscalation: false
          volumeMounts:
          {{- if .Values.customCAcertificates }}
          - name: ca-certificates
            mountPath: /etc/ssl/certs/custom-ca-certificates.crt
            subPath: ca-certificates
            readOnly: true
          {{- end }}
        - name: kube-rbac-proxy
          image: {{ .Values.kubeRbacProxy.image.repository }}:{{ .Values.kubeRbacProxy.image.tag }}
          imagePullPolicy: {{ .Values.kubeRbacProxy.image.pullPolicy }}
          args:
          - --secure-listen-address=0.0.0.0:8443
          - --upstream=http://127.0.0.1:8080/
          - --logtostderr=true
          - --v=0
          ports:
          - containerPort: 8443
            name: https
            protocol: TCP
          resources:
            {{- toYaml .Values.kubeRbacProxy.resources | nindent 12 }}
          securityContext:
            allowPrivilegeEscalation: false
      serviceAccountName: {{ .Release.Name }}-controller-manager
      securityContext:
        runAsNonRoot: true
      terminationGracePeriodSeconds: 10
      volumes:
      - configMap:
          name: {{ .Release.Name }}-manager-config
        name: manager-config
{{- if .Values.customCAcertificates }}
      - configMap:
          name: {{ .Release.Name }}-ca-certificates
        name: ca-certificates
{{- end }}
