# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/app.terraform.io_workspaces.yaml
- bases/app.terraform.io_modules.yaml
- bases/app.terraform.io_agentpools.yaml
- bases/app.terraform.io_projects.yaml
- bases/app.terraform.io_agenttokens.yaml
#+kubebuilder:scaffold:crdkustomizeresource

patches:
# [WEBHOOK] To enable webhook, uncomment all the sections with [WEBHOOK] prefix.
# patches here are for enabling the conversion webhook for each CRD
#- patches/webhook_in_workspaces.yaml
#- patches/webhook_in_modules.yaml
#- patches/webhook_in_agentpools.yaml
#- patches/webhook_in_projects.yaml
#+kubebuilder:scaffold:crdkustomizewebhookpatch

# [CERTMANAGER] To enable cert-manager, uncomment all the sections with [CERTMANAGER] prefix.
# patches here are for enabling the CA injection for each CRD
#- patches/cainjection_in_workspaces.yaml
#- patches/cainjection_in_modules.yaml
#- patches/cainjection_in_agentpools.yaml
#- patches/cainjection_in_projects.yaml
#+kubebuilder:scaffold:crdkustomizecainjectionpatch

# [WEBHOOK] To enable webhook, uncomment the following section
# the following config is for teaching kustomize how to do kustomization for CRDs.

#configurations:
#- kustomizeconfig.yaml
