---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.5
  labels:
    app.terraform.io/crd-schema-version: v25.11.0
  name: runscollectors.app.terraform.io
spec:
  group: app.terraform.io
  names:
    kind: RunsCollector
    listKind: RunsCollectorList
    plural: runscollectors
    singular: runscollector
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.agentPool.id
      name: Pool ID
      type: string
    - jsonPath: .status.agentPool.name
      name: Pool Name
      type: string
    name: v1alpha2
    schema:
      openAPIV3Schema:
        description: |-
          Runs Collector scraptes HCP Terraform Run statuses from a given Agent Pool and exposes them as Prometheus-compatible metrics.
          More information:
            - https://developer.hashicorp.com/terraform/cloud-docs/run/remote-operations
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              agentPool:
                description: |-
                  The Agent Pool name or ID from which the controller will collect runs.
                  More information:
                    - https://developer.hashicorp.com/terraform/cloud-docs/run/states
                properties:
                  id:
                    description: |-
                      Agent Pool ID.
                      Must match pattern: `^apool-[a-zA-Z0-9]+$`
                    pattern: ^apool-[a-zA-Z0-9]+$
                    type: string
                  name:
                    description: Agent Pool name.
                    minLength: 1
                    type: string
                type: object
              organization:
                description: |-
                  Organization name where the Workspace will be created.
                  More information:
                    - https://developer.hashicorp.com/terraform/cloud-docs/users-teams-organizations/organizations
                minLength: 1
                type: string
              token:
                description: API Token to be used for API calls.
                properties:
                  secretKeyRef:
                    description: Selects a key of a secret in the workspace's namespace
                    properties:
                      key:
                        description: The key of the secret to select from.  Must be
                          a valid secret key.
                        type: string
                      name:
                        default: ""
                        description: |-
                          Name of the referent.
                          This field is effectively required, but due to backwards compatibility is
                          allowed to be empty. Instances of this type with an empty value here are
                          almost certainly wrong.
                          More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                        type: string
                      optional:
                        description: Specify whether the Secret or its key must be
                          defined
                        type: boolean
                    required:
                    - key
                    type: object
                    x-kubernetes-map-type: atomic
                required:
                - secretKeyRef
                type: object
            required:
            - agentPool
            - organization
            - token
            type: object
          status:
            properties:
              agentPool:
                description: The Agent Pool name or ID from which the controller will
                  collect runs.
                properties:
                  id:
                    description: |-
                      Agent Pool ID.
                      Must match pattern: `^apool-[a-zA-Z0-9]+$`
                    pattern: ^apool-[a-zA-Z0-9]+$
                    type: string
                  name:
                    description: Agent Pool name.
                    minLength: 1
                    type: string
                type: object
              observedGeneration:
                description: Real world state generation.
                format: int64
                type: integer
            required:
            - observedGeneration
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
