name: E2E on HCP Terraform Operator


on:
  schedule:
    - cron: '30 5 * * 0'
  push:
    branches:
      - main
    paths:
      - 'controllers/**'
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
        with:
          fetch-depth: 0

      - name: Setup Go
        uses: actions/setup-go@0c52d547c9bc32b1aa3301fd7a9cb496313a4491 # v5.0.0
        with:
          go-version-file: 'go.mod'

      - name: Run end-to-end test suite
        run: make test
        env:
          TFC_OAUTH_TOKEN: ${{ secrets.TFC_OAUTH_TOKEN }}
          TFC_ORG: ${{ secrets.TFC_ORG }}
          TFC_TOKEN: ${{ secrets.TFC_TOKEN }}
          TFC_VCS_REPO: ${{ secrets.TFC_VCS_REPO }}
