name: "PR Labeler"
on:
 pull_request_target:
   branches:
   - main

jobs:
  triage:
    permissions:
      contents: read
      pull-requests: write
      issues: write
    runs-on: ubuntu-latest
    steps:
    - name: Label Pull Request
      uses: actions/labeler@v4
      with:
        configuration-path: .github/pr-labeler.yml
        repo-token: "${{ secrets.GITHUB_TOKEN }}"
        sync-labels: true

    - name: Label the PR size
      uses: codelytv/pr-size-labeler@v1
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        xs_label: 'size/XS'
        xs_max_size: '30'
        s_label: 'size/S'
        s_max_size: '60'
        m_label: 'size/M'
        m_max_size: '150'
        l_label: 'size/L'
        l_max_size: '300'
        xl_label: 'size/XL'
        message_if_xl: >
          This PR exceeds the recommended size of 1000 lines.
          Please make sure you are NOT addressing multiple issues with one PR.
          Note this PR might be rejected due to its size.
        github_api_url: 'api.github.com'
